<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}" matSort>
    
    <!-- Avatar Column -->
    <ng-container matColumnDef="picture">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <img class="avatar" *ngIf="contact.picture" [alt]="contact.firstName + contact.lastName"
                 [src]="contact.picture"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600 ">{{contact.name }}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <!-- <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell> -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <!-- <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell> -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="phone text-truncate">
                {{contact.phone}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="title">
        <!-- <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Job name</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{contact.title}}
            </p>
        </mat-cell> -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>Job name</mat-header-cell>
        <mat-cell *matCellDef="let contact" >
            <p class="job-title text-truncate">
                {{contact.title}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
        <!-- <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Company</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="company text-truncate">
                {{contact.company}}
            </p>
        </mat-cell> -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>Company</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="company text-truncate">
                {{contact.company}}
            </p>
        </mat-cell>
    </ng-container>

     <!-- Company Column -->
     <ng-container matColumnDef="reminder">
        <!-- <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Reminder</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="reminder text-truncate">
                {{contact.reminder == "-1"? "Past Due" : contact.reminder + ' days'}}
            </p>
        </mat-cell> -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>Reminder</mat-header-cell>
        <mat-cell *matCellDef="let contact" >
            <p class="reminder text-truncate">
                {{contact.reminder == "-1"? "Past Due" : contact.reminder + ' days'}}
            </p>
        </mat-cell>
    </ng-container>
   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             [routerLink] = "'/client/contacts/' + contact.ID2 +'/detail'"            
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

